    # Server Configuration
PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173

# Database
MONGO_URI=mongodb+srv://abdullah_gufran_26:260497@cluster0.zz9m7gy.mongodb.net/?appName=Cluster0

# Authentication
JWT_SECRET=your_super_secret_jwt_token_key_here
JWT_EXPIRES_IN=7d

# Cloudinary (Optional, fallback to local file system if empty)
CLOUDINARY_CLOUD_NAME=domsbibk7
CLOUDINARY_API_KEY=679913719852668
CLOUDINARY_API_SECRET=QJW7q80ZZv3-NBPYL3q5eERB_v0

# Store Settings Fallbacks
WHATSAPP_NUMBER=923287512751
DEFAULT_SHIPPING_CHARGES=200
DEFAULT_FREE_SHIPPING_THRESHOLD=5000
DEFAULT_CURRENCY=PKR
