    # Server Configuration
PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173

# Database
MONGO_URI=mongodb+srv://abdullah_gufran_26:260497@cluster0.zz9m7gy.mongodb.net/?appName=Cluster0

# Authentication
JWT_SECRET=your_super_secret_jwt_token_key_here
JWT_EXPIRES_IN=7d

# Cloudinary (Optional, fallback to local file system if empty)
CLOUDINARY_CLOUD_NAME=domsbibk7
CLOUDINARY_API_KEY=679913719852668
CLOUDINARY_API_SECRET=QJW7q80ZZv3-NBPYL3q5eERB_v0

# Store Settings Fallbacks
WHATSAPP_NUMBER=923287512751
DEFAULT_SHIPPING_CHARGES=200
DEFAULT_FREE_SHIPPING_THRESHOLD=5000
DEFAULT_CURRENCY=PKR

# Meta WhatsApp Business Cloud API Configuration
WHATSAPP_ACCESS_TOKEN=your_meta_system_user_permanent_access_token_here
WHATSAPP_PHONE_NUMBER_ID=your_meta_phone_number_id_here
WHATSAPP_BUSINESS_ACCOUNT_ID=your_meta_waba_id_here
WHATSAPP_VERIFY_TOKEN=ubaid_whatsapp_secret_2026
WHATSAPP_APP_SECRET=your_meta_app_secret_here
WHATSAPP_API_VERSION=v20.0

# OpenAI Configuration
OPENAI_API_KEY=your_openai_api_key_here
OPENAI_MODEL=gpt-4o-mini

